{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-3">
                <div class="card card-background card-background-mask-secondary shadow-primary" data-animation="true">
                    <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80')"></div>
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <a class="d-block blur-shadow-image">
                                <img src="../../assets/img/team-4.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                            </a>
                            <div class="colored-shadow" style="background-image: url(&quot;https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg&quot;);"></div>
                        </div>
                        <div class="card-body text-center">
                            <div class="d-flex mt-n6 mx-auto">
                                <a class="btn btn-link text-primary ms-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Refresh">
                                    <i class="material-icons text-lg">refresh</i>
                                </a>
                                <button class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit">
                                    <i class="material-icons text-lg">edit</i>
                                </button>
                            </div>
                            <h5 class="font-weight-normal mt-3">
                                <a href="javascript:;">Cozy 5 Stars Apartment</a>
                            </h5>
                            <p class="mb-0">
                                The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
                            </p>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer d-flex">
                            <p class="font-weight-normal my-auto">$899/night</p>
                            <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">place</i>
                            <p class="text-sm my-auto"> Barcelona, Spain</p>
                        </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <h1> Skills </h1>
                </div>
                <div class="card card-background card-background-mask-secondary shadow-primary" data-animation="true">
                    <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80')"></div>
                        <div class="card-body text-center">
                            <h5 class="font-weight-normal">
                                <a href="javascript:;">Cozy 5 Stars Apartment</a>
                            </h5>
                            <p class="mb-0">
                                The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
                            </p>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer d-flex">
                            <p class="font-weight-normal my-auto">$899/night</p>
                            <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">place</i>
                            <p class="text-sm my-auto"> Barcelona, Spain</p>
                        </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card card-background card-background-mask-secondary shadow-primary" data-animation="true">
                    <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80')"></div>
                    <div class="card-body text-center">
                        <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mt-5 mt-lg-0">Read More About Us</h3>
                                    <p class="pe-5">Pain is what we go through as we become older. We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
                                    <a href="javascript:;" class="text-primary icon-move-right">More about us
                                        <i class="fas fa-arrow-right text-sm ms-1"></i>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <div class="p-6 info-horizontal">
                                        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
                                            <i class="fas fa-ship opacity-10"></i>
                                        </div>
                                        <div class="description ps-3">
                                            <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken by people we love.</p>
                                        </div>
                                    </div>

                                    <div class="p-3 info-horizontal">
                                        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
                                            <i class="fas fa-handshake opacity-10"></i>
                                        </div>
                                        <div class="description ps-3">
                                            <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as we become older.</p>
                                        </div>
                                    </div>
                                    <div class="p-3 info-horizontal">
                                        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
                                            <i class="fas fa-hourglass opacity-10"></i>
                                        </div>
                                        <div class="description ps-3">
                                            <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over time? Blackgold.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
