<div class="card">
    <div class="card-header pb-0 px-3">
        <span class="metadata"><i class="fa fa-user"></i> About</span>
    </div>
    <div class="card-body pt-4 p-3">
        <ul class="list-group">
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="jumbotron">
                    <p>
                        {{ 'help.app_description'|trans|raw }}
                    </p>
                    <p>
                        {{ 'help.more_information'|trans|raw }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
