<button type="submit"
        data-type="delete"
        class="btn btn-danger btn-fab btn-fab-mini btn-round opacity-10"
        data-message="{{ 'confirmation.delete_item' | trans }}"
        data-confirmation-text="{{ 'action.delete' | trans }}"
        data-cancellation-text="{{ 'action.cancel' | trans }}">
    <i class="material-icons">delete</i>
</button>
